
body{
	padding: 30px;
	background-color: beige;
}
h1{
	font-size: 50px;
	font-family: sans-serif;
}

a{
	padding: 40px;
	font-size: 30px;
	text-decoration: none;
	color: #094f48;
}

.link{
	display: block;
}